@page
@model TranDinhThienTan_NET1705_A02.Pages.Staff.NewsArticle

@{
    Layout = "Shared/_Staff";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary display-4">NewsArticle Management</h1>
    <div>
        <a asp-page="./CreateCategory" class="btn btn-lg btn-primary text-white p-3 rounded-2 shadow">Create New</a>
    </div>
</div>
<div class="table-responsive h-70" style="min-height: 70%">
    <table class="table table-hover table-bordered align-middle">
        <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.NewsArticlesList[0].NewsTitle)</th>
            <th>@Html.DisplayNameFor(model => model.NewsArticlesList[0].NewsContent)</th>
            <th>@Html.DisplayNameFor(model => model.NewsArticlesList[0].CreatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.NewsArticlesList[0].CreatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.NewsArticlesList[0].Category!.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.NewsArticlesList[0].NewsTags)</th>
            <th>@Html.DisplayNameFor(model => model.NewsArticlesList[0].NewsStatus)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.NewsArticlesList) {
        <tr>
            <td class="text-black font-weight-bold">
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td class="text-dark">
                @Html.DisplayFor(modelItem => item.NewsContent)
            </td>
            <td class="text-dark">
                @Html.DisplayFor(modelItem => item.CreatedBy!.AccountName)
            </td>
            <td class="text-dark">
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td class="text-dark">
                @Html.DisplayFor(modelItem => item.Category!.CategoryName)
            </td>
            <td class="text-dark">
                @foreach (var tag in item.NewsTags)
                {
                    <button type="button" class="btn btn-secondary p-2 m-2" disabled="">@tag.Tag!.TagName</button>
                }
            </td>
            <td class="text-dark">
                @if (item.NewsStatus == true)
                {
                    <button type="button" class="btn btn-success p-2 m-2" disabled="">Active</button>
                }
                else
                {
                    <button type="button" class="btn btn-danger p-2 m-2" disabled="">Paused</button>
                }
            </td>
            <td>
                <a asp-page="./EditNewsArticle" asp-route-id="@item.NewsArticleId" class="btn btn-sm btn-warning me-2">Edit</a>
                <a asp-page="./RemoveNewsArticle" asp-route-id="@item.NewsArticleId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>