@page
@model TranDinhThienTan_NET1705_A02.Pages.IndexModel

@{
    ViewData["Title"] = "SystemAccount";
    Layout = "Shared/_HomeLayout"; 
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary display-4">System Account</h1>
    <div>
        <a asp-page="Create" class="btn btn-lg btn-primary text-white p-3 rounded-2 shadow">Create New</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover table-bordered align-middle">
        <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.SystemAccount[0].AccountId)</th>
            <th>@Html.DisplayNameFor(model => model.SystemAccount[0].AccountName)</th>
            <th>@Html.DisplayNameFor(model => model.SystemAccount[0].AccountEmail)</th>
            <th>@Html.DisplayNameFor(model => model.SystemAccount[0].AccountRole)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.SystemAccount) {
        <tr>
            <td class="text-info font-weight-bold">
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td class="text-dark">
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td class="text-dark">
                @Html.DisplayFor(modelItem => item.AccountEmail)
            </td>
            <td class="text-dark">
                @Html.DisplayFor(modelItem => item.AccountRole)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountId" class="btn btn-sm btn-warning me-2">Edit</a>
                <a asp-page="./Delete" asp-route-id="@item.AccountId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
